/* Estilos para el footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between; /* Distribuye el contenido del footer */
  align-items: center;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-logo h2 {
  font-size: 24px;
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-links li {
  margin-right: 1rem;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.footer-links a:hover {
  color: #e91e63;
}

.footer-copy {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
}
